<a href="https://colab.research.google.com/github/monikapande/Email-Spam-Detector/blob/main/Email%20Spam%20detector.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install nltk  #natural language tool kit

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [ ]:
import nltk

In [ ]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [ ]:
#loading dataset

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
import chardet
with open("spam.csv" , 'rb') as rawdata:
  result = chardet.detect(rawdata.read(100000))
result

{'confidence': 0.73, 'encoding': 'Windows-1252', 'language': ''}

In [ ]:
dt = pd.read_csv("spam.csv" , encoding = 'Windows-1252')

In [ ]:
dt.head()

   type                                               text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

**CONVERT ham -- 0 and spam as 1**


```
# This is formatted as code
```

In [ ]:
dt['spam'] = dt['type'].map({'spam' : 1 , 'ham' : 0}).astype(int)

In [ ]:
dt.head()

   type                                               text  spam
0   ham  Go until jurong point, crazy.. Available only ...     0
1   ham                      Ok lar... Joking wif u oni...     0
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3   ham  U dun say so early hor... U c already then say...     0
4   ham  Nah I don't think he goes to usf, he lives aro...     0


**DATA PREPROCESSING**

In [ ]:
#tokenization

In [ ]:
def tokenizer(text):
  return text.split()

In [ ]:
dt['text'] = dt['text'].apply(tokenizer)

In [ ]:
dt['text'][4]
#coverts in list of string

['Nah',
 'I',
 "don't",
 'think',
 'he',
 'goes',
 'to',
 'usf,',
 'he',
 'lives',
 'around',
 'here',
 'though']

In [ ]:
#stemming

In [ ]:
from nltk.stem.snowball import SnowballStemmer

In [ ]:
porter = SnowballStemmer("english" , ignore_stopwords=False)

In [ ]:
def stem_it(text):
  return [porter.stem(word) for word in text]

In [ ]:
dt['text'] = dt['text'].apply(stem_it)

In [ ]:
dt['text'][4]

['nah',
 'i',
 "don't",
 'think',
 'he',
 'goe',
 'to',
 'usf,',
 'he',
 'live',
 'around',
 'here',
 'though']

In [ ]:
#LEMMITIZATION

In [ ]:
from nltk.stem import WordNetLemmatizer
lemmatizer = WordNetLemmatizer()

In [ ]:
def lemmit_it(text):
  return [lemmatizer.lemmatize(word , pos = 'a') for word in text]

In [ ]:
dt['text'] = dt['text'].apply(lemmit_it)

In [ ]:
dt['text'][4]

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from nltk.corpus import stopwords
stop_words = stopwords.words("english")

In [ ]:
def stop_it(text):
  review = [word for word in text if not word in stop_words]
  return review

In [ ]:
dt['text'] = dt['text'].apply(stop_it)

In [ ]:
dt['text'][4]

['nah', 'think', 'goe', 'usf,', 'live', 'around', 'though']

In [ ]:
dt.head()

   type                                               text  spam
0   ham  [go, jurong, point,, crazy.., avail, onli, bug...     0
1   ham                 [ok, lar..., joke, wif, u, oni...]     0
2  spam  [free, entri, 2, wkli, comp, win, fa, cup, fin...     1
3   ham  [u, dun, say, earli, hor..., u, c, alreadi, sa...     0
4   ham      [nah, think, goe, usf,, live, around, though]     0

In [ ]:
#converting list to string
dt['text'] = dt['text'].apply(' '.join)

In [ ]:
dt.head()

   type                                               text  spam
0   ham  go jurong point, crazy.. avail onli bugi n gre...     0
1   ham                        ok lar... joke wif u oni...     0
2  spam  free entri 2 wkli comp win fa cup final tkts 2...     1
3   ham          u dun say earli hor... u c alreadi say...     0
4   ham              nah think goe usf, live around though     0

In [ ]:
# vectorization  --- converts data into numerical format 
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
y = dt.spam.values
x = tfidf.fit_transform(dt['text'])

In [ ]:
print(x)

  (0, 664)	0.25087442539237254
  (0, 72)	0.2726862580069819
  (0, 272)	0.23539868386723925
  (0, 140)	0.2726862580069819
  (0, 109)	0.2726862580069819
  (0, 341)	0.2726862580069819
  (0, 690)	0.2726862580069819
  (0, 277)	0.23539868386723925
  (0, 110)	0.2726862580069819
  (0, 446)	0.22339476616146065
  (0, 88)	0.2726862580069819
  (0, 172)	0.2726862580069819
  (0, 479)	0.2726862580069819
  (0, 333)	0.2726862580069819
  (0, 266)	0.18098001918541645
  (1, 445)	0.519773745536695
  (1, 678)	0.4486990158666175
  (1, 331)	0.4486990158666175
  (1, 342)	0.4486990158666175
  (1, 439)	0.3547433338792177
  (2, 5)	0.20076001005747035
  (2, 82)	0.1847014680279387
  (2, 492)	0.20076001005747035
  (2, 634)	0.15114403477296562
  (2, 577)	0.1847014680279387
  :	:
  (114, 20)	0.24421985641255653
  (114, 16)	0.24421985641255653
  (114, 334)	0.24421985641255653
  (114, 8)	0.24421985641255653
  (114, 281)	0.24421985641255653
  (114, 206)	0.24421985641255653
  (114, 343)	0.24421985641255653
  (114, 162)	0.24421985641255653
  (114, 261)	0.24421985641255653
  (114, 545)	0.22468501564658647
  (114, 12)	0.21082482554837803
  (114, 671)	0.22468501564658647
  (114, 707)	0.17742979468419953
  (114, 627)	0.19128998478240797
  (114, 447)	0.22468501564658647
  (114, 650)	0.22468501564658647
  (114, 148)	0.22468501564658647
  (114, 117)	0.14714415525341984
  (114, 142)	0.20007402688356837
  (114, 484)	0.19128998478240797
  (115, 535)	0.47813258341817966
  (115, 449)	0.47813258341817966
  (115, 657)	0.47813258341817966
  (115, 654)	0.43988735627203923
  (115, 640)	0.3473712881249231

In [ ]:
print(y)

[0 0 1 0 0 1 0 0 1 1 0 1 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0
 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 1 0 1 1 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 1 0]

In [ ]:
#splitting the dataset into training and testing

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state = 1 , test_size = 0.20 , shuffle = False)

In [ ]:
#applying the machine learning algorithm

In [ ]:
#applying Logistic Regression
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(x_train,y_train)
y_pred = clf.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
acc_log = accuracy_score(y_pred , y_test)*100
print("accuracy:" , acc_log)

accuracy: 87.5